// Show or hide elements based on media query breakpoints.
@each $key, $value in $breakpoints {
    .u-hide--#{$key} {
        @include respond-to($key) {
            display: none;
        }
    }
    
    .u-show--#{$key} {
        display: none;

        @include respond-to($key) {
            display: inherit;
        }
    }        
}

// gutters
.u-gut--l {
    padding-left: 0.744%;
}
.u-gut--r {
    padding-right: 0.744%;
}
.u-gut--lr {
    padding-left: 0.744%;
    padding-right: 0.744%;
}

// 1344px max width | 12 col layout | 1em = 16px
$page-width: 84em;
$col-width: 7em;

@for $i from 1 through 12 {
    .u-col--#{$i} {
        width: percentage(($col-width * $i) / $page-width);

        @include respond-to("medium") {
            width: 100%;
        }
    }
}

.u-resetList {
    margin: 0;
    padding: 0;
    list-style: none;
}